@charset "utf-8";
/* CSS Document */

div.formation_latest_posts_title {
	margin-top:20px;
	margin-bottom:20px;
}

div.formation_latest_posts_title input {
	margin-top:10px;
}

div.formation_latest_posts_number {
	margin-bottom:20px;
}

div.formation_latest_posts_cats {
	margin-bottom:20px;
}

div.formation_latest_posts_cats table tbody tr:hover {
	background:#DDD;
}

div.formation_latest_posts_cats table tbody td {
	position:relative;
	height:100%;
}

div.formation_latest_posts_cats table tbody td.label {
	padding-top:0px;
	padding-bottom:0px;
}

div.formation_latest_posts_cats table tbody label {
	display:block;
	width:100%;
	padding-top:8px;
	padding-bottom:8px;
}



